<section>
  <header>
    <h2>{{ site.data.calltoaction.title }}</h2>
  </header>
  <div class="content">
    {% if site.data.calltoaction.p1 %}
    <p>{{ site.data.calltoaction.p1 }}</p>
    {% endif %}
    <ul class="actions">
      {% for button in site.data.calltoaction.buttons %}
      <li>
        <a
          href="{{ button.url }}"
          class="button large
                {% if button.class %}
                    {{ button.class }}
                {% endif %}"
        >
          {{ button.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
